<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/home">
      <img src="../../assets/icon/logo.png" alt="" height="50px">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center">
    <h3>Iniciar Sesión</h3>
  </div>

  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-item>
      <ion-input type="text" name="email" placeholder="your@email.com" ngModel required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input type="password" name="pass" placeholder="password" ngModel required></ion-input>
    </ion-item>
  
    <ion-button expand="block" size="large" type="submit" [disabled]="form.invalid">
      Entrar
    </ion-button>
  </form>

  <ion-row class="ion-justify-content-center">
    <div class="ion-text-center">¿No tienes usuario? <a routerLink='/sign-up'>registrate!</a></div>
  </ion-row>

</ion-content>