<ion-header>  
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/home">
      <img src="../../assets/icon/logo.png" alt="" height="50px">
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button> </ion-menu-button>
        <ion-icon slot="end" color="success" name="md-add-circle" routerLink="/subir-producto"></ion-icon>
      <ion-icon slot="end" color="medium" name="contact" routerLink="/perfil-usuario"></ion-icon>
      <ion-icon slot="end" color="medium" name="md-log-out" (click)="cerrarSesion()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
<!--<ion-button expand="block" size="medium" type="submit">Agregar Usuario</ion-button>-->

<ion-list>
  <ion-card *ngFor="let usuario of usuarios; let i = index" (click)="modificarUsuario(usuario.codigo_usuario)">
    <ion-card-header>
      <div>

      </div>  
    </ion-card-header>
  
    <ion-card-content>
      <p>{{usuario.nombre_usuario}}</p>
      
      <div>
        <p>{{usuario.correo_usuario}}</p>
      </div>
    </ion-card-content>
  </ion-card>  
</ion-list>
  

</ion-content>
