<ion-header>  
    <ion-toolbar>
      <ion-buttons slot="start" routerLink="/home">
        <img src="../../assets/icon/logo.png" alt="" height="50px">
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button> </ion-menu-button>
        <ion-icon slot="end" color="medium" name="cart" routerLink="/carrito"></ion-icon>
        <ion-icon slot="end" color="medium" name="contact" routerLink="/perfil-usuario"></ion-icon>
        <ion-icon slot="end" color="medium" name="md-log-out" (click)="cerrarSesion()"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
    </ion-header>

<ion-content>
  <div *ngIf="dataReady">
    <div style="color: #19303F; font: 20px sans-serif;"><b>{{producto.nombre}}</b></div>
    <img src={{producto.url_foto}} alt="">
    <div style="color:#21497D; font: 20px sans-serif;"><b>Q. {{producto.precio}}</b></div>


    <ion-item>
      <ion-label>Cantidad:</ion-label>
      <ion-select #mySelect [value]="cantidadActual" [selectedText]="cantidadActual" (ionChange)="seleccionar(mySelect.value)">
        <ion-select-option *ngFor="let cont of cantidadArray" [selected]="cont === cantidadActual">{{ cont }}</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-button expand="full" color="success" (click)="setProductoCarrito(producto)">Agregar al carrito</ion-button>
    <hr>
    <hr>
    <div><b>Categorias: {{producto.categoria}}</b></div>
    <hr>
    <div style="color:#21497D; font: 20px sans-serif;"><b><i>Descripcion: </i></b></div>
    <div [innerHTML]="producto.descripcion"></div>
    <hr>
    <hr>

    <div style="width: 100%; height:3px; background-color:black"></div>
    
    <hr>

    <div>
      <div style="font: 20px sans-serif;"><b><i>Comentarios: </i></b></div>
    </div>

    <hr>
    <hr>

    <div>
      <div style="color:#21497D; font: 16px sans-serif;"><b><i>Agregar comentario: </i></b></div>
    </div>


    <form #form="ngForm" (ngSubmit)="agregarComentario(form)">
      <ion-item>
        <ion-textarea rows="6" placeholder="Comentario" name="texto" ngModel required></ion-textarea>
      </ion-item>

      <hr>
      <div style="margin-left: 25%; width: 50%;">
        <ion-button expand="block" size="medium" type="submit" [disabled]="form.invalid">Agregar</ion-button>
      </div>
    </form>
    
    <div style="width: 100%; height:20px;"></div>

    <!--Comentarios-->
    <div *ngIf="dataReady">
      <ion-list>
        <ion-card *ngFor="let comentario of comentarios; let i = index">
          <ion-card-header>
            <div style="text-align: center; width: 100%; height: auto;">
                <div style="float:left;font-size: 20px;">
                    <ion-icon color="medium" name="md-contact"></ion-icon>
                </div>

                <div style="color:black">
                    <p>{{ comentario.nombre_usuario }} -- {{ comentario.correo_usuario }}</p>
                </div>
            </div>
          </ion-card-header>
    
          <ion-card-content>
              <div style="color:black;"><i>{{ comentario.texto }}</i></div>
          </ion-card-content>
      </ion-card>
    </ion-list>
    </div>
    
  </div>
</ion-content>
