<ion-header>  
    <ion-toolbar>
      <ion-buttons slot="start" routerLink="/home">
        <img src="../../assets/icon/logo.png" alt="" height="50px">
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button> </ion-menu-button>
        <ion-icon slot="end" color="medium" name="cart" routerLink="/carrito"></ion-icon>
        <ion-icon slot="end" color="medium" name="contact" routerLink="/login"></ion-icon>
        <ion-icon slot="end" color="medium" name="md-log-out" (click)="cerrarSesion()"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
    </ion-header>

<ion-content>
  <div *ngIf="dataReady">
    <div style="color: #19303F; font: 20px sans-serif;"><b>{{producto.nombre}}</b></div>
    <img src={{producto.url_foto}} alt="">
    <div style="color:#21497D; font: 20px sans-serif;"><b>Q. {{producto.precio}}</b></div>


    <ion-item>
      <ion-label>Cantidad:</ion-label>
      <ion-select #mySelect [value]="cantidadActual" [selectedText]="cantidadActual" (ionChange)="seleccionar(mySelect.value)">
        <ion-select-option *ngFor="let cont of cantidadArray" [selected]="cont === cantidadActual">{{ cont }}</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-button expand="full" color="success" (click)="setProductoCarrito(producto)">Agregar al carrito</ion-button>
    <hr>
    <hr>
    <div><b>Categorias: {{producto.categoria}}</b></div>
    <hr>
    <div style="color:#21497D; font: 20px sans-serif;"><b><i>Descripcion: </i></b></div>
    <div [innerHTML]="producto.descripcion"></div>
    <hr>
    <hr>
  </div>
</ion-content>
