<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start" routerLink="/landing">
      <img src="../../assets/icon/logo.png" alt="" height="50px">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center">
    <h3>Registro</h3>
  </div>

  <form #form="ngForm" (ngSubmit)="registrar(form)">
    <ion-item>
      <ion-input name="name" type="text" placeholder="Nombre Completo" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="password" type="password" placeholder="Contraseña" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="confirm" type="password" placeholder="Confirmar Contraseña" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="fecha" type="text" placeholder="2020/02/02" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="direccion" type="text" placeholder="Dirección" ngModel required></ion-input>
    </ion-item>
  
    <ion-button expand="block" size="large" type="submit" [disabled]="form.invalid">
      Registrarse
    </ion-button>

    <ion-row class="ion-justify-content-center">
      <div class="ion-text-center">¿Ya tienes una cuenta? <a routerLink='/login'>Entra</a></div>
    </ion-row>

  </form>

</ion-content>