<ion-header>
  <ion-toolbar>
    <ion-title>Detalle Factura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col>
        codigo
      </ion-col>
      <ion-col>
        nombre
      </ion-col>
      <ion-col>
        precio
      </ion-col>
      <ion-col>
        cantidad
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let producto of detalleFac.detalle; let i = index">
      <ion-col>
        {{ producto.codigo }}
      </ion-col>
      <ion-col>
        {{ producto.nombre }}
      </ion-col>
      <ion-col>
        {{ producto.precio}}
      </ion-col>
      <ion-col>
        {{ producto.cantidad}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col>
       
    </ion-col>
    <ion-col>
      Total
    </ion-col>
    <ion-col>
     Q {{detalleFac.total}}


    </ion-col>
  </ion-row>
  <ion-button expand="full" color="success" (click)="facturar()"  routerLink="/reporte-compras">Confirmar Venta</ion-button>
</ion-content>