<ion-header>
  <ion-toolbar>
    <ion-title>Detalle Factura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-grid >
    <ion-row>
      <ion-col>
        codigo
      </ion-col>
      <ion-col>
        nombre
      </ion-col>
      <ion-col>
        precio
      </ion-col>
      <ion-col>
        cantidad
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let producto of lsProd; let i = index">
      <ion-col>
        {{ producto.codigo }}
      </ion-col>
      <ion-col>
        {{ producto.nombre }}
      </ion-col>
      <ion-col>
        {{ producto.precio}}
      </ion-col>
      <ion-col>
        {{ producto.cantidad}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row>
    <ion-col>
       
    </ion-col>
    <ion-col>
      Total
    </ion-col>
    <ion-col>
      {{total}}
    </ion-col>
  </ion-row>
  <!--
     <div >
    <b>{{ producto.codigo }}</b>
    <b>{{ producto.nombre }}</b>    
    <b>Q. {{ producto.precio }}</b>
    <hr>
    <hr>
    <hr>
    <hr>
    </div>-->

  <!--<ion-list>
    <ion-item>
      <ion-label> Memorias [5]</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Disco de Estado solido[4] </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Persianas[1]</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Pachones [2]</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Super Mario World</ion-label>
    </ion-item>
  </ion-list> -->


</ion-content>